body {
  text-align: center;
  margin :1px;
  font-family: 'Merriweather', serif;
  font-weight : 600;
}
h1 {
  margin :50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size : 6rem;
  color : #66BFBF;
}
h2 {
  font-family: 'Montserrat', serif;
  font-size : 2.5rem;
  margin-bottom : 50px;
  color : #66BFBF;
  font-weight : 800;
  line-height: 50%;
}
h3 {
  font-size : 1.25rem;
  font-weight : 900;
  font-family: 'Montserrat', sans-serif;
  color : #11999E;
}

a{
  color : #11999E;
}
a:hover {
  color :#EAF6F6;
}
.mountain{
  width :  50%;
  height : 60%;
}
.bottom-container {
  background-color : #66BFBF;
  padding : 30px;
}
.skill-row{
  position : relative;
  margin :100px auto;
  width : 50%;
  text-align : left;
  line-height : 2;
}
.top-container{
  background-color : #EAF6F6;
  position : relative;
  padding-top: 100px;
}

.cloud1{
  position : absolute;
  right: 20%;
  top: 5%;
}
.cloud2{
  position : absolute;
  left : 20%;
}
.imagecrop {
  width :168.25px ;
  height : 168.25px;
  overflow: hidden;
  border-radius: 50%;
  float : left;
  margin-right : 30px;

}
.img1 {
  width :168.25px ;
  height : 168.25px;

}

.profilepic{
  width : 200px;
  height : 200px;
  border-radius : 50%;
  overflow: hidden;
  margin : 100px auto 50px auto;
}

.hr1{
  margin : 50px auto;
  border-style : dotted none none;
  height : 20px;
  border-color : #EAF6F6 ;
  border-width : 15px;
  width : 7%;
}

.profileimg {
  width : 200px;
  height : 200px;
}
.img2 {
  width :168.25px ;
  height : 168.25px;
  border-radius: 50%;
  float : right;
  margin-left : 30px;
}
.contact-me{
  margin-bottom : 50px;
}
.footer-link{
  color : #11999E;
  font-style : normal;
  text-decoration: none;
}
.copyr {
  color : #EAF6F6;
  font-weight : 500;
  font-size : 0.75rem;
}

.BUTTON_MQK {
   background: #C0EDED;
   background-image: -webkit-linear-gradient(top, #C0EDED, #66BFBF);
   background-image: -moz-linear-gradient(top, #C0EDED, #66BFBF);
   background-image: -ms-linear-gradient(top, #C0EDED, #66BFBF);
   background-image: -o-linear-gradient(top, #C0EDED, #66BFBF);
   background-image: -webkit-gradient(to bottom, #C0EDED, #66BFBF);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Helvetica;
   font-size: 20px;
   font-weight: 100;
   padding: 10px 20px;
   text-shadow: 1px 1px 20px #000000;
   border: solid #66BFBF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-top : 5px;
}

.BUTTON_MQK:hover {
   border: solid #337FED 1px;
   background: #109F92;
   background-image: -webkit-linear-gradient(top, #109F92, #2B84B9);
   background-image: -moz-linear-gradient(top, #109F92, #2B84B9);
   background-image: -ms-linear-gradient(top, #109F92, #2B84B9);
   background-image: -o-linear-gradient(top, #109F92, #2B84B9);
   background-image: -webkit-gradient(to bottom, #109F92, #2B84B9);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
